<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Acerca de ENCODE WEB</h5>
        <p class="text-lighten-4">
          Somos un Equipo de Profesionales Ingenierios en el area de la informatica,
          con el objetivo de brindar nuestros servicios de Diseño Web con calidad, efeciencia
          y productividad.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contactenos</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Computer Engineering Services, Society
    </div>
  </div>
</footer>
