<div class="modal modal-fixed-footer" id="windowsModalEmail">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
          <h3> Contactenos via Email</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit,
             nemo laborum. Delectus possimus, esse tempore atque sit odio
             temporibus molestiae veritatis quasi fugiat, repellat nulla eaque
             ipsam, mollitia quae nemo.</p>
      </div>
      <div class="col s12 m9">
           <div class="col s12 m6">
             <label for="first_name">Nombre</label>
             <input placeholder="Nombre de Contacto" id="first_name" type="text" class="validate">
           </div>
           <div class="col s12 m6">
             <label for="email"  data-error="Email No Valido" data-success="right">Email</label>
             <input id="email" placeholder="Correo Electronico" type="email" class="validate">
           </div>
           <div class="col s12">
             <label for="textarea1">Contenido</label>
             <textarea id="textarea1" placeholder="Consultas y/o Comentarios." class="materialize-textarea"></textarea>
           </div>
      </div>
      <div class="col m3 hide-on-small-only">
        
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn blue">Enviar <i class="material-icons right">send</i></a>
    <!--a href="#!" class="modal-action modal-close waves-effect waves-green btn red"> Cancelar</a-->
  </div>
</div>
